<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310737649301-40osqs0almfuh1k8v99uc83htmeabbfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310737649301-40osqs0almfuh1k8v99uc83htmeabbfb</string>
	<key>API_KEY</key>
	<string>AIzaSyA8veNI4h1p8uo90Td9Czj71OfY9V0LsOI</string>
	<key>GCM_SENDER_ID</key>
	<string>310737649301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keofoxy.Uber</string>
	<key>PROJECT_ID</key>
	<string>blackfoxtechuber</string>
	<key>STORAGE_BUCKET</key>
	<string>blackfoxtechuber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310737649301:ios:a718d12cd57f7e0d01259c</string>
</dict>
</plist>